@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* Variable declaration  */
:root {
    --logo-color: #ff764d;
    --link-color: #000;
    --orange-link-color: var(--logo-color);
    --blue-link-color: #0000ff;
    --para-color: #000;
    --card-color-1: #fbffa7;
    --card-color-2: #b6ffc0;
    --card-color-3: #d5b3ff;
    --card-color-4: #b1c5ff;
    --heading-font-size: 1.5rem;
    --heading-line-height: 1.4;
    --para-font-size: 1.25rem;
    --para-line-height: 1.6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    background-color: #F3F3F3;
    overflow-x: hidden;
    color: #000;
}

/* links color and size  */
.link {
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--para-font-size);
    font-weight: 500;
    line-height: var(--para-line-height);
}
.orange-link {
    color: var(--orange-link-color);
}
.blue-link {
    color: var(--blue-link-color);
}
.small-link {
    font-size: 1rem;
}

/* heading paras */
.bold-paras {
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    font-weight: 500;
}

/* Photos  */
.photo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* Navbar  */
nav {
    position: relative;
    width: 100vw;
    padding: 20px 5%;
    border-bottom: 2px solid #fff;
    z-index: 1;
}
nav>*{
    display: inline-block;
    margin: 0 20px 0 0;
}
.left-links {
    margin-left: 20px;
}
.left-links ul, .right-links ul, .menu-btn ul, .menu ul, .nav-bottom-link ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.left-links ul li, .right-links ul li, .nav-bottom-link ul li {
    padding: 0 7px;
}
.right-links {
    margin-right: 0;
    float: right;
}
.menu-btn {
    display: none;
}

.menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: -600%;
    transition: all 0.5s ease;
    z-index: -1;
}

.menu ul{
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--blue-link-color); 
    border-bottom: 2px solid #fff;
}
.menu ul li {
    width: 100%;
    padding: 5px 50px;
}
.menu ul li:not(:last-child) {    
    border-bottom: 0.5px solid #b4abab;
}
.menu ul li a{
    color: #fff;
}
.nav-bottom-link {
    padding: 20px 40px;
}

.nav-bottom-link li{
    transition: all 0.5s ease;
}
.nav-bottom-link li:hover{
    transform: translate(5px, 0) scale(1.2)
}

/* Headers Image  */
.header-img {
    width: 90%;
    height: calc(100vh - 120px);
    margin: 20px auto 40px; 
    position: relative;
    background-image: url(images/header.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.header-img h1 {
    color: var(--logo-color);
    font-size: 6.8rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.text-info {
    margin: 100px auto;
    width: 50%;
}
h1.head-para {
    font-size: var(--heading-font-size);
    font-size: clamp(1.2rem, 2vw, 1.75rem);
    line-height: var(--heading-line-height);
    font-weight: 500;
    margin: 30px 0;
}
.text-info p {
    font-size: clamp(0.94rem, 1.2vw, var(--para-font-size));
    color: var(--para-color);
    line-height: var(--para-line-height);
    opacity: 0.89;
    margin-bottom: 20px;
}
.para-link {
    text-decoration: none;

}

/* Images sets  */
.images-set {
    margin: 20px 0;
    position: relative;
    width: 100vw;
    height: 670px;
    background-color: transparent;
}
.small-img {
    position: absolute;
    width: 35vw;
    height: 70%;
    z-index: 2;
}
.large-img {
    position: absolute;
    width: 60vw;
    height: 100%;
    background-color: var(--card-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 1 */
}
.small-img-left {
    left: 15%;
    top: 20%;
}
.small-img-right {
    top: 20%;
    left: 47%;
}
.large-img-left {
    left: 0;
}
.large-img-right {
    right:0;
}
.photo1 {
    background-image: url(images/photo-1.jpg);
}
.photo2 {
    background-image: url(images/photo-2.jpg);
}
.photo3 {
    background-image: url(images/photo-3.jpg);
}
.photo4 {
    background-image: url(images/photo-4.jpg);
}
.photo5 {
    background-image: url(images/poster-meet-the-makers.jpg);
}
.photo6 {
    background-image: url(images/photo-6-a.jpg);
    
}

.large-img .photo {
    width: 45%;
    height: 45%;
}

/* Images Set 2  */
.images-set-2 {
    width: 100vw; 
    height: 560px;
    margin: 40px 0;
    position: relative;
}
.image-bg {
    width: 70%;
    height: 100%;
    margin: auto; 
    background-color: lavender
}
.img-photo {
    position: absolute;
    top: 24%;
    left: 10%;
    width: 25%;
    height: 50%;
    background: url(images/poster-juanpe.jpg);
}
.img-photo2 {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 35%;
    height: 60%;
    background-image: url(images/photo-7.jpg);

}

/* Images set 3  */
.single-img {
    width: 75%;
    height: 95%;
    margin: 0 auto;
}

/* Card Set  */
.card-set {
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
.card-set>* {
    flex: 1 1 50%;
}
.card-info {
    background-color: var(--card-color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(15px, 5vw, 2.5rem) ;
}

/* Footer Part of website  */
footer {
    padding: 10vh 8vw;
    margin:130px auto 0;
    border-top: 2px solid #fff;
}
.footer-heading {
    margin: 10px 0 30px 0;
}
.footer-heading h1 {
    font-size: clamp(1.25rem, 6vw, 3rem);
}
.footer-grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
    grid-template-rows: auto;
    grid-gap: 20px 30px;
}
.footer-flex {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}


/* bold-head */
.bold-head {
    font-size: 20px;
    font-weight: 500;
}
/* footer link  */
.footer-flex a, .footer-legal-link a {
    padding: 3px 0;
    font-weight: 300;
    transition: all 0.5s ease;
}

.footer-flex a:hover {
    opacity: 0.8;
    transform: translateX(5px);
}

.footer-legal-link {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-legal-link a{
    font-size: 12px;
}
.footer-legal-link a:nth-child(7){
    margin-left: auto;
}

/* input */
footer input {
    background-color: #fff; 
    color: #fff;
    padding: 10px 8px;
    outline: none;
    border: none;
}
.email-input {
    display: flex;
    width: 95%;
    margin-top:15px;
}
.email-input input {
    font-size: 16px;
}
.email-input input[type=email] {
    flex-grow: 1;
    color: gray;
}
.email-input input[type=button] {
    background-color: var(--blue-link-color)
}

/* Responsive  */
@media (max-width: 1020px){
    .left-links, .right-links {
        display: none;
    }
    .menu-btn {
        display: inline-block;
    }
    .active-menu {
        top: 65px
    }
    .text-info {
        width: 80%;
    }
    .images-set, .images-set-2 {
        height: 470px;
    }
    .footer-grids {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px){
    .images-set, .images-set-2 {
        height: 370px;
    }
    .footer-grids {
        grid-template-columns: 1fr;
    }
}